div {
  border: 1px dotted red;
  margin: 50px 50px 50px;
}

.gem1 {
  width: 100px;
  height: 100px;
}

.gem2 {
  width: 100px;
  height: 100px;
}

.gem3 {
  width: 100px;
  height: 100px;
}

.gem4 {
  width: 100px;
  height: 100px;
}
